<%= form_with(model: source) do |form| %>
  <% if source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
        <% source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_title %>
    <%= form.text_field :contact_title %>
  </div>

  <div class="field">
    <%= form.label :contact_phone %>
    <%= form.text_field :contact_phone %>
  </div>

  <div class="field">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email %>
  </div>

  <div class="field">
    <%= form.label :is_internal %>
    <%= form.check_box :is_internal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
