<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @source.contact_name %>
</p>

<p>
  <strong>Contact title:</strong>
  <%= @source.contact_title %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @source.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @source.contact_email %>
</p>

<p>
  <strong>Is internal:</strong>
  <%= @source.is_internal %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
