<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stream.name %>
</p>

<p>
  <strong>Business unit:</strong>
  <%= @stream.business_unit %>
</p>

<p>
  <strong>Stakeholder name:</strong>
  <%= @stream.stakeholder_name %>
</p>

<p>
  <strong>Stakeholder email:</strong>
  <%= @stream.stakeholder_email %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
