<p id="notice"><%= notice %></p>

<p>
  <strong>Stream:</strong>
  <%= @project.stream_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Is internal:</strong>
  <%= @project.is_internal %>
</p>

<p>
  <strong>Is trackable:</strong>
  <%= @project.is_trackable %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @project.is_active %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
